@import "my_variables";

header {
  background: $mainBG;
  font-size: 17px;
  color: white;
  position: relative;
  z-index: 200;
}

.shadow {
  box-shadow: 0 -18px 59px 2px rgba(0, 0, 0, .75);
}

.exit .svg-exit {
  opacity: 0.7;
  transition: all .3s ease-in-out;
}

.exit:hover {
  .svg-exit {
    opacity: 1;
  }
}

.header-top {
  height: 50px;
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
}

.tabel_c-img-wrap {
  display: table-cell;
  vertical-align: middle;
}

.logo-wrap, .exit {
  display: block;

  img {
    display: block;
  }
}

.exit {
  padding: 0 20px 0 15px;
}

.header-left, .header-right {
  float: left;
  display: table;
  height: 45px;
}

.header-right {
  float: right;
}

.user-id, .balance, .cashier {
  color: $mainText;
  display: table-cell;
  vertical-align: middle;
}

.balance {
  color: $mainBlue;
  font-size: 20px;
  cursor: pointer;
}

.user-id {
  font-size: 20px;
  padding-left: 20px;
}

.cashier {
  font-size: 20px;
  padding-left: 30px;
}

// MENU BURGER =======
#nav-icon {
  float: left;
  margin-right: -2px;
  width: 45px;
  height: 45px;
  position: relative;
  transform: rotate(0deg) scale(.4) translateX(-70%);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: $mainText;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 0;
      transform-origin: left center;
    }
    &:nth-child(2) {
      top: 18px;
      transform-origin: left center;
    }
    &:nth-child(3) {
      top: 36px;
      transform-origin: left center;
    }
  }
}

.nav-menu {
  position: absolute;
  max-width: 330px;
  top: -50px;
  bottom: 0;
  width: 0;
  left: 0;
  background: white;
  color: black;
  font-size: 16px;
  z-index: 100;
  box-shadow: 0 0 80px -27px rgba(0, 0, 0, 0.3);
  transition: width .3s ease-in-out, overflow .1s .3s;
  padding-bottom: 20px;
  overflow: hidden;
  //transition: overflow .3s;
  .menu-title {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 12px;
    margin-right: 12px;
    font-weight: bold;
    line-height: 50px;
    border: transparent;
    transition: all .2s ease-in-out, border .1s .2s;
    overflow: hidden;
    height: 50px;
    &.settings {
      margin-top: 7px;
    }
  }
}

body.show-menu {
  .nav-menu {
    width: 320px;
    overflow: visible;
  }
}

#wrap-nav-icon {
  padding-left: 10px;
  cursor: pointer;
  position: relative;
}

.svg-menu-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  fill: #7e7e7e;
}

.svg-exit {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  fill: $mainText;
}

.back {
  vertical-align: middle;
  display: inline-block;
  padding: 10px;
  margin-right: 20px;
  img {
    display: block;
  }
}

.nav-menu-shadow {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  //bottom: 0;
  z-index: 3;
  background-color: transparent;
  transition: background-color .3s ease-in-out;
}

.wrap-menu-title {
  overflow: hidden;
}

.show-menu .nav-menu-shadow {
  bottom: 0;
}

ul.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li.menu-item {
    height: 45px;
    transition: all .3s ease-in-out;
    position: relative;
    &:hover, &.help-active {
      background: $mainBlue;
      a {
        color: white;

        .svg-menu-icon {
          fill: white;
        }
      }
    }
    a {
      color: black;
      text-decoration: none;
      display: block;
      padding-left: 25px;
      line-height: 45px;
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      transition: all .3s ease-in-out;
      .svg-menu-icon {
        transition: all .3s ease-in-out;
      }
      .menu-item-text {
        vertical-align: middle;
      }
    }
  }
}

//body.show-menu{
//  ul.menu-list{
//    li.menu-item{
//      height: 45px;
//    }
//  }
//}

ul.settings {
  li.menu-item {
    a {
      white-space: nowrap;
      overflow: hidden;
      padding-left: 18px;
      &:before {
        left: 18px;
        .svg-menu-icon {
          margin-right: 12px;
        }
      }
    }
  }
}

body.show-menu #nav-icon {
  span {
    &:nth-child(1) {
      transform: rotate(45deg);
      top: -3px;
      left: 8px;
    }

    &:nth-child(2) {
      width: 0;
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
      top: 39px;
      left: 8px;
    }
  }
}

// END MENU BURGER =======

.showmore {
  display: none;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  position: relative;
  z-index: 100;

  img {
    vertical-align: middle;
    margin-top: -1px;
  }
}

ul.more-list {
  width: 170px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50px;
  right: -10px;
  list-style: none;
  z-index: 100;
  box-shadow: 0 0 80px -27px rgba(0, 0, 0, .3);

  li {
    background: white;
    height: 0;
    overflow: hidden;
    transition: all .2s ease-in-out;
    &:hover {
      background: $mainBlue;
      a {
        color: white;
      }
    }

    a {
      padding-left: 25px;
      color: #000;
      text-decoration: none;
      display: table;
      height: 100%;
      width: 100%;
    }
  }
}

.show-showmore {
  ul.more-list {
    li {
      height: 45px;
    }
  }
}

@media screen and (max-width: 1115px) {
  .showmore {
    display: table-cell;
  }

  .exit {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .nav-menu {
    top: -40px;
    bottom: auto;
  }

  .logo-wrap {
    //margin-left: -15px;
  }

  .header-top {
    height: 40px;
  }

  .cashier {
    display: none;
  }

  .user-id {
    padding: 5px 5px 5px 5px;
    font-size: 18px;
  }

  .balance .text {
    display: none;
  }

  .logo {
    width: 35px;
  }

  .balance-value {
    color: $mainBlue;
    vertical-align: unset;
    font-size: 18px;
    margin-right: 7px;
  }
}
