@import "my_variables";

@media screen and (min-width: 1115px) {
  .preinit-hide {
    .operators-wrap, .keyboard-tablet-wrap.small-keyboard, .news-wrap {
      opacity: 0;
    }

    #mob {
      .operators-wrap {
        transform: translate3d(0, -50px, 0);
      }
      .keyboard-tablet-wrap.small-keyboard {
        transform: translate3d(0, -70px, 0);
      }
    }

    .news-wrap {
      transform: translate3d(0, -50px, 0);
    }

    .help {
      opacity: 0;
    }
  }

  #mCSB_1_container {
    //left: 0 !important;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1100px) {
  //TODO убрать высер - keyboard-box-wrap к 4 категориям
  ul.nav-top li:not(:nth-last-child) {
    margin-right: 100px;
  }
}

@media screen and (min-width: 750px) {
  #mCSB_1_scrollbar_horizontal {
    //высер
    //display: none !important;
  }
}

@media screen and (max-width: 1115px) {
  body {
    background: white;
  }

  body.overfl-hidden {
    overflow: hidden;
  }

  .wrap-for-news-modal {
    height: 100%;
    padding-top: 50px;
    margin-top: -50px;
  }

  .wrap-news-inner {
    height: 100%;
    overflow: auto;
  }

  .news-wrap {
    margin-top: 0;
  }

  .wrap-nav-top {
    margin-top: -2px;
  }

  .news-img {
    max-width: 300px;
  }

  /* The Modal (background) */
  .modal-news {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 300;
    padding: 0;
    max-width: 100%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  }

  .hide-news {
    display: none;
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 88%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
    height: 100%;
  }

  /* The Close Button */
  .close-news-modal {
    position: absolute;
    display: block;
    top: 15px;
    right: 15px;
    color: #7d7d7d;
    font-size: 28px;
    line-height: 16px;
    &:hover, &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .news-head {
    //height: 20%;
  }

  ul.nav-top li {
    margin-right: 15%;
  }

  .keyboard-box-wrap {
    margin-left: auto;
    margin-right: auto;
  }

  .wrap-table_c-modal {
    height: 100%;
    padding: 15px 0;
  }

  .wrap-left {
    width: 100%;
  }

  .operators-wrap {
    width: 50%;
    margin-right: 0;
    padding-right: 35px;
  }

  .keyboard-wrap {
    //display: none;
  }
  .wrap-pay-data {
    margin-bottom: 0;
  }

  .keyboard-tablet-wrap {
    width: 50%;
    min-width: 380px;
  }

  .modal-keyboard {
    right: 0 !important;
    top: -46px !important;
    .arrow-dialog:after {
      left: auto;
      bottom: -5px;
      right: 15px;
      top: auto;
    }
  }
  .modal-menu {
    top: 50px !important;
  }
  .modal-menu-li {
    //top: 135px !important;
    left: 24px;
    .arrow-dialog:after {
      //left: 10px;
      //top: -4px;
    }
  }

  .show-menu .nav-menu-shadow {
    z-index: 20;
    background-color: rgba(0, 0, 0, .7);
  }

  ul.operator-list li {
    //height: 50px;
    a {
      font-size: 17px;
    }
  }
}

// MEDIA 750px ==================================
@media screen and (max-width: 750px) {
  main {
    top: 60px;
  }

  ul.operator-list {
    //margin-left: 0;
    margin: 0 auto;
  }

  .help {
    display: none;
    left: 20px;
  }

  .main-wrap {
    padding-top: 0;
  }

  .wrap-left {
    max-width: 300px;
    float: none;
    margin: auto;
  }

  .wrap-nav-top {
    margin-top: -8px;
  }

  ul.nav-top li {
    margin-right: 18px;
    a {
      padding-top: 2px;
      padding-bottom: 7px;
      line-height: 20px; //Categories height mobile
      font-size: 16px;
      &.active {
        border-color: transparent;
      }
    }
  }

  .nav-menu {
    max-width: 290px;
  }

  .keyboard-tablet-wrap {
    min-height: 85vh;
    width: 100%;
    min-width: 300px;
  }
  .keyboard-box-wrap {
    width: 300px;
    padding-top: 28px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 24px;
    //margin-right: 0;
    &:not(.bottom-tooth) {
      //box-shadow: none;
    }
  }

  .main-wrap {
    padding: 0;
  }

  .operators-wrap {
    clear: both;
    margin: auto;
    width: 100%;
    padding-right: 0;
    padding-top: 15px;
  }

  .key-inner {
    font-size: 26px;
  }
  .letters {
    font-size: 19px;
    padding: 0;
  }

  .no-mobile {
    display: none !important;
  }

  .only-mobile {
    display: block;
  }

  .remark.check {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .reseiver-name {
    margin-bottom: 25px;
  }

  .wrap-pay-values {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .pay-number {
    margin-top: 7px;
    font-size: 26px;
  }

  .wrap-pay-data {
    padding-top: 5px;
  }

  .keyboard-logos-wrap {
    margin-bottom: 19px;
  }

  .keyboard-box-wrap {
    //margin-top: 25px;
  }

  .bottom-tooth {
    width: 300px;
  }

  input.number {
    font-size: 21px;
    padding: 0 25px;
  }

  .news-title {
    font-size: 16px;
  }
  .news-text {
    font-size: 14px;
  }

  .modal-menu-li {
    display: none !important;
  }
}

@media screen and (max-height: 760px) {
  .main-wrap {
    padding-top: 5px;
  }

  .point {
    height: 58px;
  }

  .wrap-table_c-modal {
    padding-top: 10px;
  }

  .remark {
    margin-top: 10px;
    //margin-bottom: 15px;
  }

  .remark-text.show {
    margin-bottom: 17px;
    height: 40px;
  }

  .keyboard-box-wrap {
    padding-top: 15px;
  }

  input.number {
    line-height: 43px;
    font-size: 22px;
  }

  .keyboard-logos-wrap {
    margin-bottom: 5px;
    font-size: 17px;
  }

  input.ccv, input.sum, input.thru {
    line-height: 35px;
    font-size: 24px;
  }

  .amount {
    border: 0;
    text-align: right;
    padding-right: 0;
    width: 90px;

  }

  .coins {
    border: 0;
  }

  .key-wrap {
    height: 50px;
    margin-bottom: 6px;
  }

  .key-inner:not(.letters) {
    font-size: 25px;
  }

  .key-wrap {
    &.switch-ru, &.switch-en {
      .key-inner {
        font-size: 15px !important;
      }
    }
  }

  .scrol-cont {
    padding: 0;
  }

  .mCSB_1_scrollbar_horizontal {
    display: block;
  }

}
